body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background:url("./images/starwars_bg.webp");
    background-size: cover;
}

#board{
    width: 540px;
    height: 540px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    /*background:url("./images/space.jpeg");*/
    background-image: linear-gradient(to right, #FFA500,#89CFF0);
    background-size: cover;
    border: 40px, solid white;
    border-radius: 30px;
}

#board div{
    width: 180px; /*because the whole board is 540 so you wanna have 3 x 3 so we div by 3 to get a cell size of 180px */
    height: 180px;
    background-image: url("./images/pot.png");
    background-size: auto;

}

#board div img {
    width: 100px;
    height: 100px;
}